@import 'colors.less';

#page-user-credits {
  .cost {
    font-weight: bold;
  }
}

#page-checkout {
  .total {
    font-weight: bold;
    font-size: 1.1em;
    border-top: solid 1px @blue-gray;
  }

  .checkout-buttons {
    margin-top:25px;
  }

  .payment-type-heading {
    text-align: center;
    font-size: .9rem;
    font-weight: 200;
    margin-bottom: 1rem;
  }
}