/* Main Primary color */
/* Main Secondary color (1) */
/* Main Secondary color (2) */
/* Main Complement color */
/* Main Secondary color (1) */
/* Main Primary color */
/* Main Complement color */
#page-manage-users .color-options {
  display: flex;
  align-items: end;
}
#page-manage-users #userList label.customAttribute {
  font-weight: 600;
  margin: 0;
}
#page-manage-users #filter-users .form-select {
  width: auto;
}
#page-manage-users #userList .btn {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
#page-manage-users #userList .btn-group .btn {
  padding: 0.25rem 0.5rem;
}
#page-manage-users .permissionRow {
  display: flex;
  justify-content: space-between;
  padding: 2px 0;
}
#page-manage-users #addedGroups .group-add {
  display: none;
}
#page-manage-users #removedGroups .group-remove {
  display: none;
}
