/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* Main Primary color */
/* Main Secondary color (1) */
/* Main Secondary color (2) */
/* Main Complement color */
/* Main Secondary color (1) */
/* Main Primary color */
/* Main Complement color */
#additionalResources {
  display: inline;
}
#additionalResources p {
  margin: 0px;
  font-style: italic;
}
.durationText {
  font-size: 0.9em;
  font-weight: bold;
  display: inline;
  color: #000;
}
#reservationbox {
  width: 100%;
  margin: 3em auto 1em;
}
#reservationbox ul {
  list-style: none;
}
#reservationbox input[type="file"] {
  font-size: 10pt;
}
#reservationbox .input {
  font-size: 16px;
  width: 98%;
  padding: 3px;
  margin: 2px 0 5px 0;
  border: 1px solid #e5e5e5;
  background: #fbfbfb;
  color: #777;
}
#reservationbox.readonly label {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
#reservationbox.readonly ul {
  font-size: 16px;
  color: #333;
}
#reservationbox.readonly .section {
  padding-top: 15px;
}
#reservationbox.readonly .repeat-details,
#reservationbox.readonly .repeat-details label {
  margin-left: 10px;
  font-size: 15px;
}
#reservationDetails {
  padding-right: 25px;
}
#reservationDetails #userName {
  font-size: 1.2em;
}
.reservationButtons {
  margin-top: 20px;
}
.reservationReminders,
.reservationAttachments,
.customAttributes {
  margin-top: -9px;
  padding-top: 0px;
}
.reservationDeleteButtons {
  float: left;
}
.reservationSubmitButtons {
  float: right;
}
#reservationParticipation {
  padding-left: 25px;
}
#participantList,
#inviteeList {
  height: 100px;
  width: 98%;
  overflow-y: auto;
  border: solid 1px #E9E9E9;
  padding: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin: 2px 0 5px 0;
  background-color: #fff;
}
#participantList .user,
#inviteeList .user {
  float: left;
  padding-right: 5px;
}
#accessories {
  max-height: 200px;
  overflow: auto;
}
#accessories p {
  margin: 1px;
}
#reservationbox a {
  font-size: 12pt;
}
#dialogSave ul {
  text-align: left;
}
#dialogSave .error {
  background-image: none;
}
#dialogSave h2 {
  font-size: 18pt;
}
#dialogSave div {
  font-size: 16pt;
  text-align: center;
}
#dialogSave input,
#dialogSave button {
  font-size: 11pt;
}
.res-attachments {
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #dedede;
}
.res-attachments .heading {
  font-size: 10pt;
  font-weight: bold;
}
#reservationbox .res-attachments a {
  font-size: 9pt;
}
#reminderOptionsStart,
#reminderOptionsEnd {
  display: inline-block;
  padding-right: 30px;
}
.reminderLabel {
  font-size: 10pt;
}
#reservationbox a.small-action {
  font-size: 9pt;
  color: #3d5b74;
}
.customAttributes {
  margin-top: 10px;
}
ul.jqtree-tree li.jqtree-selected > .jqtree-element,
ul.jqtree-tree .jqtree-toggler {
  top: 10%;
}
ul.jqtree-tree .group-resource .jqtree-title {
  color: #111111;
}
.buttonsTop {
  margin-bottom: 10px;
}
.reservationDate {
  width: 50px;
  display: inline-block;
}
.reservationDates,
.reservationTitle,
.reservationResources {
  padding-top: 12px;
}
.reservationLength .form-group {
  margin: 5px 0;
}
#reservationCreated .approvalMessage,
#reservationUpdated .approvalMessage {
  margin: 15px 0;
  font-size: smaller;
}
#changeUsers {
  display: none;
}
.reservationHeader h3 {
  margin: 0;
}
.reservationHeader h3 .pendingApproval {
  color: #ffb540;
}
.repeat-drop {
  width: auto;
}
.repeat-interval-drop {
  width: auto;
}
.weeks,
.months {
  margin-top: 5px;
}
.weeks .btn-sm {
  width: 55px;
}
#reservation-box label {
  min-width: 50px;
}
.accessory-quantity {
  width: 60px;
}
.reminder-time {
  width: 75px;
}
.reminderInterval {
  width: auto;
  padding: 0px;
}
a.add {
  color: #353432;
  text-decoration: none;
}
a.add .icon {
  color: #88CC88;
}
a.remove {
  color: #AA3939;
}
#reservation-response-image .error {
  color: #AA3939;
}
#reservation-response-image .warning {
  color: #FA6900;
}
#reservation-response-image .success {
  color: #88CC88;
}
.reservation-message {
  font-size: 2em;
  font-weight: bold;
}
.accessoriesDiv {
  float: right;
}
.participationText,
.participationButtons {
  display: inline;
}
@media only screen and (max-device-width: 480px) {
  .reservation-message {
    font-size: 1em;
    font-weight: bold;
  }
  .btnCreate,
  .btnEdit {
    width: 70%;
    float: right;
  }
  .accessoriesDiv {
    padding-top: 10px;
    float: none;
    clear: both;
  }
  .participationText,
  .participationButtons {
    width: 100%;
    display: block;
  }
  .participationText input[type=text].user-search,
  .participationButtons input[type=text].user-search {
    width: 100%;
  }
  .participationButtons {
    padding: 3px 0;
  }
  .participationButtons button {
    line-height: 15px;
  }
  #reservationDetails {
    padding-right: 0;
  }
  #reservationParticipation {
    padding-right: 15px;
  }
}
@media only screen and (min-device-width: 480px) {
  .detailsBorder {
    border-right: solid 1px #D5DED9;
  }
}
#custom-attributes-placeholder .form-group {
  margin: 0;
}
#allowParticipation {
  margin-top: 5px;
}
#invite-error {
  font-weight: bold;
  color: #AA3939;
}
#reservation-box .resourceName {
  color: #428181;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 2px 1px;
  display: inline-block;
  margin-right: 2px;
  background-color: #cfe4dd;
}
#reservation-box .resourceName a {
  color: #428181;
}
#reservation-box .resourceName .fa:last-of-type {
  margin-right: 2px;
}
.autoReleaseButtonMessage {
  display: none;
}
.unavailable-resource {
  text-decoration: line-through;
  color: #AA3939;
}
#availableCreditsCount,
#requiredCreditsCount,
#creditCost {
  font-weight: bold;
}
#requiredCreditsCount.insufficient-credits,
#creditCost.insufficient-credits {
  color: #AA3939;
}
.availability-highlighter {
  position: absolute;
  background-color: rebeccapurple;
  opacity: 0.25;
}
#page-view-reservation .participationAction {
  margin-bottom: 5px;
}
#page-reservation .form-control.timeinput.input-sm {
  padding: 0px;
}
#page-reservation .resourceDetails {
  text-decoration: none;
  cursor: pointer;
}
#user-availability-box table.reservations td.resourcename {
  color: #333;
}
#page-reservation {
  width: 100%;
  margin: -1rem auto 0 auto;
}
#page-reservation .reservation-section {
  display: flex;
  width: 100%;
}
#page-reservation .reservation-section .reservation-icon-section {
  width: 50px;
  background-color: #E9E9E9;
  border-right: solid 1px #BCBCBC;
  padding-top: 1rem;
  text-align: center;
}
#page-reservation .reservation-section .reservation-icon-section .bi {
  font-size: 1.5rem;
}
#page-reservation .reservation-section .reservation-content-section {
  flex: 1;
  border-bottom: solid 1px #f0f0f0;
  padding: 0.7rem 1rem;
}
#page-reservation .reservation-section:last-child {
  flex: 1 1 auto;
  padding: 0;
}
#page-reservation .reservation-top-bar {
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 0.5rem 1rem;
  border-bottom: solid 1px #BCBCBC;
  align-items: center;
}
#page-reservation .reservation-top-bar .reservation-heading {
  font-size: 1.5rem;
  font-weight: 600;
}
#page-reservation .reservation-top-bar .reservation-buttons {
  display: flex;
  justify-content: flex-end;
}
#page-reservation .reservation-content {
  overflow-y: scroll;
  height: calc(100vh - 130px);
  width: 100%;
  display: flex;
  flex-flow: column;
}
#page-reservation .reservation-time-dropdown {
  margin-left: 0.5rem;
  margin-top: 2.1rem;
}
#page-reservation .reservation-errors {
  font-size: 0.9rem;
  color: #AA3939;
}
#page-reservation .reservation-waitlist-notice {
  font-size: 0.8rem;
  border: solid 1px #ef9400;
  background-color: #fef7ea;
  border-radius: 3px;
  padding: 6px;
  display: inline-block;
}
#page-reservation .reservation-date-picker {
  width: 120px;
}
#page-reservation .reservation-label,
#page-reservation .recurrence-label {
  font-weight: 200;
  font-size: 1.1rem;
}
#page-reservation .reservation-resource,
#page-reservation .reservation-group {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  color: #428181;
  background-color: #cfe4dd;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
#page-reservation .reservation-resource i,
#page-reservation .reservation-group i {
  margin-left: 0.5rem;
}
#page-reservation .reservation-group {
  color: #000;
  background-color: transparent;
  padding-left: 0;
}
#page-reservation .btn-link {
  text-decoration: none;
}
#page-reservation .reservation-accessory {
  display: inline-block;
  padding: 0.3rem 0.5rem;
  color: #414d73;
  background-color: #cfd4e4;
  border-radius: 5px;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
#page-reservation .reservation-accessory .reservation-accessory-quantity,
#page-reservation .reservation-accessory .reservation-accessory-name {
  display: inline-block;
}
#page-reservation .reservation-accessory .reservation-accessory-quantity {
  background-color: #9198a0;
  margin-right: 0.5rem;
}
#page-reservation .reservation-owner-credits {
  height: 1rem;
  font-size: 0.85rem;
}
#page-reservation .reservation-owner-credits .insufficient-credits {
  color: #AA3939;
}
#page-reservation .reservation-owner-credits .credit-value {
  margin-left: 3px;
  margin-right: 10px;
  font-weight: 600;
}
#page-reservation .reservation-credits-spinner {
  height: 1rem;
}
#page-reservation .reservation-credits-spinner .spinner-border {
  width: 0.85rem;
  height: 0.85rem;
  border-width: 0.1em;
}
#page-reservation .reservation-badge {
  background-color: #9198a0;
}
#page-reservation table.reservations thead td {
  position: inherit;
}
#page-reservation table.reservations .reserved {
  cursor: default;
}
#page-reservation .reservation-availability {
  position: relative;
}
#page-reservation .reservation-user-select {
  width: 50%;
}
#page-reservation .reservation-upload-file {
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  border: solid 1px #ddd;
  border-radius: 5px;
  padding: 0 4px;
  background-color: #fafafa;
}
#page-reservation .reservation-attachment-drop {
  cursor: pointer;
}
#page-reservation .reservation-attachment-drop .bi {
  font-size: 1.5rem;
}
#page-reservation .reservation-saving-modal-content {
  min-height: 50vh;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
#page-reservation .reservation-saving-modal-content .reservation-save-message-header {
  font-size: 1.5rem;
  font-weight: 600;
}
#page-reservation .reservation-saving-modal-content .reservation-save-result-icon {
  font-size: 4rem;
}
#page-reservation .reservation-saving-modal-content .reservation-save-result-icon.error {
  color: #AA3939;
}
#page-reservation .reservation-saving-modal-content .reservation-save-result-icon.success {
  color: #88CC88;
}
#page-reservation .reservation-saving-modal-content .reservation-save-message-pending {
  background-color: #fff8e2;
  border: solid 1px #ffdf7c;
  border-radius: 5px;
  margin: 0.25rem 0;
  padding: 0.25rem;
}
#page-reservation .reservation-saving-modal-content .btn {
  margin-top: 1rem;
}
#page-reservation .reservation-saving-modal-content .reservation-save-message-notice {
  font-weight: 600;
  margin: 1rem 0;
}
#page-reservation .reservation-recurring-modal .reservation-recurring-notice,
#page-reservation .reservation-delete-modal .reservation-recurring-notice {
  margin-bottom: 1rem;
  text-align: center;
  color: #585754;
}
#page-reservation .reservation-recurring-modal hr,
#page-reservation .reservation-delete-modal hr {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
#page-reservation .reservation-action-bar {
  background-color: #fff8e2;
}
#page-reservation .reservation-action-bar .btn {
  background-color: #ffd349;
  border-color: #ffc716;
  min-width: 140px;
}
#page-reservation .reservation-action-bar .btn:hover {
  background-color: #ffecaf;
}
#page-reservation .reservation-action-bar .reservation-checkin-autorelease-notification {
  color: #585754;
}
#page-reservation .reservation-checkin-past-time {
  background-color: #f8d7da;
  text-align: center;
  font-weight: 600;
}
#page-reservation .reservation-content-readonly .attribute-label {
  font-weight: 600;
  margin-right: 0.25rem;
}
#page-reservation .reservation-participation-errors {
  text-align: left;
  display: block;
}
#page-reservation .reservation-owner-name {
  display: inline-block;
  cursor: pointer;
}
#page-reservation .selected-appointment,
#page-reservation .available-appointment {
  cursor: pointer;
  border: solid 1px #585754;
  border-radius: 5px;
  margin-right: 10px;
  padding: 4px;
  font-size: 0.9em;
  color: #585754;
}
#page-reservation .selected-appointment {
  background-color: #def4ff;
  color: #000;
  border-color: #353432;
}
#page-reservation .resource-group-tree-item .form-check-input,
#page-reservation .resource-picker .form-check-input {
  margin-top: 9px;
}
#page-reservation .reservation-resource-picker-modal .reservation-resource {
  cursor: default;
}
#page-reservation .reservation-meeting-link-options {
  width: 170px;
}
@media (max-width: 768px) {
  #page-reservation .reservation-user-select {
    width: 100%;
  }
}
