.user-info .user-info-name {
  font-weight: 200;
  font-size: 1.5rem;
}
.user-info .user-info-item .attribute-label,
.user-info .attribute .attribute-label,
.user-info .user-info-item .label,
.user-info .attribute .label {
  display: inline-block;
  font-weight: 600;
  margin-right: 0.25rem;
}
